.navbar {
  background-color: #4d6fad;
  height: 80px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
  z-index: 10;
  position: fixed;
  width: 100%;
}

.navbar-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  padding: 0.25rem;
  margin-left: -0.25rem;
  margin-right: 1.25rem;
}

.search-content {
  top: 0;
  bottom: 0;
  position: absolute;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
}

.nav-menu {
  background-color: #4d6fad;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 99;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #4d6fad;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}
.nav-left-ul {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.nav-left-li {
  position: relative;
  --space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--space-x-reverse));
  margin-left: calc(1.5rem * (1 - var(--space-x-reverse)));
}

.nav-left-btn {
  border-radius: 9999px;
  vertical-align: middle;
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: white;
}
.nav-left-li > a {
  margin-right: 2rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  color: white;
}
